<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="movtosmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
          </style>
    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/v2/movimientos"
               method="GET"
               on-response="mostrarMovimientos">
    </iron-ajax>
<!--
    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/v2/usuarios/login",
               method="POST"
               headers='{"email":"selis1@tuttocitta.it", "password":"MlhbjJ"}'
               on-response="mostrarResultadologin">
    </iron-ajax>
    -->
    <!--
    <div class="row">
      <button class="col-lg-4 col-6">Boton 1</button>
      <button class="col-lg-4 col-6">Boton 2</button>
      <button class="col-lg-4 col-6">Boton 3</button>
    </div>
    -->

    <div>
      <button class="btn btn-default" on-click="invocarPeticion">Invocar</button>
    </div>
    <div class="row">
    <div hidden$="{{notengoMovimientos}}" class="col-lg-6 ">
    <table class="table table-striped">
      <thead>
        <th>Id</th>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Ciudad</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}" as="prd">
          <tr>
            <td>{{prd.id}}</td>
            <td>{{prd.fecha}}</td>
            <td>{{prd.importe}}</td>
            <td>{{prd.latitud}}</td>
            <td>{{prd.longitud}}</td>
            <td>{{prd.ciudad}}</td>
          </tr>
        </template>
      </tbody>
    </table>
    </div>
    <div class="row col-lg-12 col-sm-12">
        <div class="card-deck">

      <template is="dom-repeat" items="{{movimientos}}">
        <div class="col-sm-3">

        <div class="card">
          <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[item.ciudad]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title">{{prd.id}}</h5>
          <p class="card-text">{{prd.fecha}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{prd.importe}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">{{prd.ciudad}}</a>
          <a href="#" class="card-link">{{prd.latitud}}</a>
          <a href="#" class="card-link">{{prd.longitud}}</a>
        </div>

      </div>
      </div>


  </template>
    </div>
    </div>

  </div>
    </template>



  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovtosmxApp extends Polymer.Element {
      static get is() { return 'movtosmx-app'; }
      static get properties() {
        return {
            movimientos: {
            type: Array
          },
          notengoMovimientos: {
            type: Boolean,
            value: true
          }
        };
      }
        invocarPeticion() {
        this.$.obtenerMovimientos.generateRequest();
      }
      mostrarMovimientos(data) {
      console.log(data.detail.response)
      this.movimientos = data.detail.response
      this.notengoMovimientos = false
      }
  }

    window.customElements.define(MovtosmxApp.is, MovtosmxApp);
  </script>
</dom-module>
